!DOCTYPE html>
<html>
    <head>
        <title>vcube</title>
    </head>
    <body style="background-color:white">
        <center>
            <img src="cube.png" alt="" width="300px" height="250px" style="justify-content: center;">
            <img src="vcube sir.jpg" alt="" width="300px" height="250px"  style="display: inline-flex;float:right;">
            <img src="python.jpg" alt="" width="300px" height="250px"  style="display: inline-flex;float:left; border: none;">
        </center>
        <h2 style="color: blue;">Python Course content</h2>
        <ul>
            <a href="#python"><li>PYTHON</li></a>
            <a href="#mysql"><li>MYSQL</li></a>
            <a href="#html"><li>HTML</li></a>
            <a href="#css"><li>CSS</li></a>
            <a href="#javascript"><li>JAVASCRIPT</li></a>
            <a href="#Django"><li>DJANGO</li></a>
            <a href="#React Js"><li>REACT JS</li></a>
            <a href="#Basics of Datascience"><li>BASICS OF DATASCIENCE</li></a>
        </ul>
        <section id="python"><
        <u><h3>Python</h3></u>
        <ol>
                <li><h4>Variables</h4></li>
                <ul><li>Variables are building blocks of any programming languages<br> they are reserved memory locations</li></ul>
                <li><h4>Data Types</h4></li>
                <ul><li>Python Data Types are used to define the type of a variable</li></ul>
                <li><h4>Operators</h4></li>
                <ul><li>Operators refer to special symbols that perform operations on values and variables</li></ul>
                <li><h4>Decision making statements</h4></li>
                <ul><li>Decision-making statements are also known as conditional statements<br> because they specify conditions with boolean expressions evaluated to a true or false boolean value</li></ul>
                <li><h4>Loops</h4></li>
                <ul><li>Looping means repeating something over and over until a particular condition is satisfied</li></ul>
                <li><h4>DaraStructures</h4></li>
                <ul><li>Data structures are a way of organizing and storing data so that they can be accessed and worked with efficiently.</li></ul>
                <li><h4>Functions</h4></li>
                <ul><li>In Python programming, functions are essential building blocks that allow us to organize and reuse code efficiently</li></ul>
                <li><h4>OOPS</h4></li>
                <ul><li>object-oriented Programming (OOPs) is a programming paradigm that uses objects and classes in programming</li></ul>
        </ol></section>
        <section id="mysql">
        <u><h3>MySql</h3></u>
        <ol>
            <li><h4>data types</h4></li>
            <ul><li>The data type is a guideline for SQL to understand what type of data is expected inside of each column,<br> and it also identifies how SQL will interact with the stored data</li></ul>
            <li><h4>categories of commands</h4></li>
            <ul><li>DDL</li>
            <li>DML</li>
            <li>TCL</li>
            <li>DCL</li>
            <li>DQL</li></ul>

            <li><h3>constraints</h3></li>
            <ul><li>primary key</li>
                <li>unique key</li>
                <li>check</li>
                <li>Not null</li>
                <li>Foriegn key</li>
            </ul>
            <li><h4>operators</h4></li>
            <ul><li>An operator is a reserved word or a character that is used to query our database in a SQL expression</li></ul>
            <li><h4>Functions</h4></li>
            <ul><li>They enhance the functionality and flexibility of SQL queries and enable developers to perform various operations on data</li></ul>
            <li><h4>joins</h4></li>
            <ul><li>A JOIN clause is used to combine rows from two or more tables, based on a related column between them.</li></ul>
            <li><h4>clauses</h4></li>
            <ul><li>clauses are specific parts of SQL statements that help you define, filter, or manipulate your database data</li></ul>
            <li><h4>views</h4></li>
            <ul><li>VIEWS are virtual tables that do not store any data of their own but display data stored in other tables.</li></ul>
            <li><h4>sub queries</h4></li>
            <ul><li>Subqueries in MySQL, also known as subquery or inner query, are queries that are embedded within another SQL query (the outer query).</li></ul>
            <li><h4>Index</h4></li>
            <ul><li>In MySQL, an index is a database structure used to improve the speed of data retrieval operations on database tables</li></ul>
            <li><h4>stored functions</h4></li>
            <ul><li>stored functions are a way to encapsulate a set of SQL statements into a reusable and modular block of code.<br> These functions can accept parameters and return a single value</li></ul>
            <li><h4>stored procedures</h4></li>
            <ul><li>A stored procedure is a precompiled collection of one or more SQL statements that can be stored in the database.<br> It allows for modular code, reusability, and easier maintenance.</li></ul>
            <li><h4>cursors</h4></li>
            <ul><li>In MySQL, a cursor is a database object used to retrieve and manipulate data from a result set.</li></ul>
            <li><h4>Exception handling</h4></li>
            <ul><li>MySQL does not have built-in support for traditional exception handling like some other programming languages</li></ul>
            <li><h4>Triggers</h4></li>
            <ul><li>A trigger is a set of SQL statements that are automatically executed when a specific event occurs in a table</li></ul>
        </ol>
        </section>
        <section id="html">
        <u><h3>HTML</h3></u>
        <ul><li>HTML stands for Hyper Text Markup Language. HTML is the standard markup language for creating Web pages.<br>HTML describes the structure of a Web page</li></ul>
        </section>
        <section id="css">
        <u><h3>CSS</h3></u>
        <ul><li>CSS is the language we use to style a Web page.</li></ul>
    </section>
    <section id="javascript">
        <u><h3>JavaScript</h3></u>
        <ul><li>JavaScript is a dynamic programming language that's used for web development, in web applications, for game development, and lots more</li></ul>
    </section>
    <section id="Django">
        <h3>Django</h3>
    </section>
    <section id="React Js">
        <h3>React Js</h3>
    </section>
    <section id="Basics of Datascience">
        <h3>Basics of Datascience</h3>
    </section>
    </body>
</html>